
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #555;
  position: fixed;
  height: 100%;
}

ul.nav li a {
  display: flex;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

ul.nav li a.active {
  background-color: #4CAF50;
}

ul.nav li a:hover:not(.active) {
  background-color: #B6DEB7;
}

@media screen and (max-width: 1200px) {
  ul.nav {
    display: inline-flex;
    width: 100%;
    height: auto;
    flex-direction: row;
  }
  ul.nav li a {
    padding: 15px;
  }
}

@media screen and (max-width: 600px) {
  ul.nav {
    width: 100%
    display: inline;
    height: auto;
    flex-direction: column;
  }

  ul.nav li a {
    padding: 15px;
  }
}
